---
layout: default
---

<div class='text-meta'>
  <h1 class='text-title'>{{ page.title }}</h1>
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    By <strong><a href="{{ author.url }}">{{ author.name }}</a></strong>
  {% endif %}
  <p class='text-date' >Published on
    <time datetime='{{ page.publish_date | date_to_xmlschema }}'>
    {{ page.publish_date | date: "%A, %B %d, %Y" }}
    </time>
  </p>
</div>

{{ content }}

  
<hr />
{% include prevnext.html %}

<hr />
<p><a href="/texts/">Back to Texts</a></p>
